<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AdminPage.css">
</head>
<body>

    <nav>
        <ul>
            <li><a asp-controller="AdminPage" asp-action="deleteProduct">Edit/Delete Products</a></li>
            <li><a asp-controller="AdminPage" asp-action="Add">Add Products</a></li>
            <li><a asp-controller="AdminPage" asp-action="ShowdeleteUser">Delete Users</a></li>
        </ul>
    </nav>

   

</body>
</html>
