@using TheLaptopStore.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/deleteUser.css">
</head>
<body>


    <div class="grid-container" id="deleteUser">
        <div class="design">
            @foreach (var user in Model)
            {
                ApplicationUser curruser = await UserManager.GetUserAsync(User);
                @if (user.Id != curruser.Id)
                {
                <div class="product">
                    <h2>@user.FirstName</h2>
                    <p id="LastName">LastName: @user.LastName</p>
                    <p id="PersonalID">PersonalID: @user.PersonalID</p>
                        <a asp-controller="AdminPage" asp-action="deleteUser" asp-route-Id="@user.Id" class="nav-link btn btn-link text-dark">Delete</a>
                </div>
            }
            }
        </div>
    </div>



</body>
</html>
