
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Poppins, 'Arial', sans-serif;
            background-color: #e6e6e6; /* Set a background color for the entire page */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .login-container {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        label {
            margin-bottom: 8px;
            color: #333;
        }

        input {
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .inputStyle {
            background-color: #007bff; /* Button background color */
            color: #fff; /* Button text color */
            padding: 10px 15px; /* Padding around the button text */
            border: none; /* Remove border */
            border-radius: 4px; /* Rounded corners */
            cursor: pointer; /* Add a pointer cursor on hover */
            font-size: 16px; /* Adjust font size */
        }

            /* Button hover effect */
            .inputStyle:hover {
                background-color: #0056b3; /* Darker background color on hover */
            }

        #not_registered {
            font-weight: bold;
            text-align: center;
        }
    </style>

    <div class="login-container">
        <form action="Submit" class="login-form" method="post">
            <h2>Login</h2>
            <label for="username">Username:</label>

            <input type="text" id="Email" name="Email" placeholder="Enter your Email" />
            @Html.ValidationMessage("Email")
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" />
            @Html.ValidationMessage("password")
            <input class="inputStyle" id="LogIn" name="submitButton" type="submit" value="Login" />
            <input class="inputStyle" id="signup" name="submitButton" type="submit" value="sign up" />
        </form>
    </div>

</body>
</html>
